@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300;1,400&family=Rubik+Gemstones&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    margin: 0;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    left: 206px;
    position: relative;
}

.nav-bar-sec {
    display: flex;
}

h2 {
    margin-top: 20px;
}

h2 .title1 {
    color: rgb(25, 41, 187);
    text-shadow: 2px 2px rgb(216, 209, 209);
}

.list {
    list-style: none;
    margin-top: 27px;
    margin-left: 23px;
}

.list li {
    display: inline;
    margin-left: 17px;
    font-size: 14px;
    cursor: pointer;
}

.list li a {
    text-decoration: none;
    color: black;
}

.list li a:hover {
    color: rgb(148, 145, 145);
}

button {
    height: 25px;
    width: 70px;
    margin-top: 25px;
    background-color: rgb(25, 41, 187);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 0px auto;
    max-width: 70%;
    height: 400px;
}

.container h5 {
    font-size: 19px;
    margin: 25px 0 20px 0;
}

.img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 0px;
}

.card {
    height: 200px;
}

.card img {
    width: 100%;
    height: 60%;
    border: none;
    border-radius: 3px;
}

.img-text {
    width: 100%;
    margin: 5px 0;
}

.img-text p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(116, 113, 110);
}

.footer {
    height: 28px;
    width: 100%;
    background-color: black;
    color: azure;
    position: absolute;
    bottom: 0;
}

.footer p {
    height: 28px;
    text-align: center;
    padding-top: 5px;
}